rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regla base: Nadie sin autenticar puede leer ni escribir nada
    // Y cada usuario solo puede acceder a su propio documento identificado por userId
    
    match /user_data/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /user_transactions/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /user_history/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
